<!DOCTYPE HTML>
<html>
	<head>
		<title> Add Company </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="./materialize/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->


			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2> Add Company </h2>
						<p> RVCE Placement Management System </p>
					</header>
					<div class="box">
						<form method="post" action="/add_company">
							<div class="row">
								<div class="col s12 l6">
									<input type = "text" name = "companyname" id = "companyname" value = "" required = "" placeholder = "Company Name"/>
								</div>
								<div class="col s12 l6">
                                        <input type="text" name="companydetails" id="companydetails" value="" required = "" placeholder="Company Details" />
                                </div>
							</div>

							<div class="row uniform">
								<div class="s12">
									<ul class="actions align-center">
										<li><input type="submit" value="Add Company" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="./materialize/js/materialize.min.js"></script>

			<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


			<script>
				$.validate({
				modules : 'security'
				});
			</script>

	</body>
</html>