    <section class="container center" style="margin-top: 5em">

        <h3> Users </h3>

        <table class="bordered highlight centered">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each Users}}
                    {{#if this.role}}
                    <tr>
                        <td> {{this.username}} </td>
                        <td> {{this.password}} </td>
                        <td> {{this.role}} </td>

                        <td> <button class="waves-effect waves-light btn red lighten-1" onclick = "removeUser(this)" name = {{this.username}}> Remove User </button> </td>
                    {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <br><br>

    {{!-- <section class = "container center">
        <a class="waves-effect waves-light btn green" href="/add_new_user"> Add New User </a>
    </section>

    <br>

    <section class = "container center">
        <a class="waves-effect waves-light btn green" href="/dashboard"> Dashboard </a>
    </section>

    <br>

    <section class = "container center">
        <a class="waves-effect waves-light btn green" href="/logout"> Logout </a>
    </section> --}}

    <section class = "container">
        <div class="row">
            <div class="col s3 offset-s1">
                <a class="waves-effect waves-light btn teal" href="/add_new_user"> Add New User </a>
            </div>
            {{!-- <div class="col s3 offset-s1">
                <a class="waves-effect waves-light btn teal" href="/password_change"> Dashboard </a>
            </div> --}}
            {{!-- <div class="col s3 offset-s1">
                <a class="waves-effect waves-light btn teal" href="/logout"> Logout </a>
            </div> --}}
        </div>
    </section>

        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>

            function removeUser(obj)
            {
                //console.log("Remove User Function Called!");
                var username = obj.name;
                $.ajax({
                    url: '/remove_user',
                    type: "POST",
                    datatype: "json",
                    data: {username: username},

                    success: function(obj)
                    {
                        //console.log("SUCCESS UNREG");
                        setTimeout(function(){// wait for 5 secs(2)
                            location.reload(); // then reload the page.(3)
                        }, 100);
                    },

                    error: function(jqXHR, textstatus, err)
                    {
                        console.log("\n---------------------------\nAJAX Error: Unable to Remove User\n---------------------------\n");

                    }
                });
            }
        </script>
    </body>
</html>
