
    <section class="container">
        <h1>Dashboard</h1>
        <h3>Welcome Admin!</h3>
    </section>

    <section class="container" style="margin-top: 5em">


        <div class="col s12 l6">
            <h4 class="teal-text center"> User Count </h4>
            <br>
            <table class="bordered highlight centered">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            Number of Users
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Users}}
                    <tr>
                        <td>{{this.ROLE}}</td>
                        <td>{{this.COUNT}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <br><br>

        <div class="row">
            <div class="col s3 offset-s5">
                <a class="waves-effect waves-light btn teal" href="/add_remove_users"> Add/Remove Users </a>
            </div>
        </div>




    </section>



    <br>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./materialize/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>
</body>

</html>