<html>
    <head>
        <title> Error Page </title> 
    </head>
    <body>
        <h3> Oops! An error was encountered while processing your request! </h3> 
        <a href = "/"> Go Back </a>
    </body>

</html>

