<html>
    <head> 
        <title> Error! </title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    </head>

    <body>
        <h2 align = "center"> Error changing password! </h2>
        <h4 align = "center"> The information you entered was invalid! </h4>
        <div class="center">
            <a class="waves-effect waves-light btn teal" href="/dashboard"> Back to Dashboard </a>
        </div>
    </body>   
</html>