<html>
    <head> 
        <title> Success! </title> 
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    </head> 
    <body>
        <h2 align = "center"> Password Changed Successfully! </h2>

        <div class="center">
            <a class="waves-effect waves-light btn teal" href="/dashboard"> Back to Dashboard </a>
        </div>

    </body>   
</html>>